html{
    background-color: aquamarine;
}


body {
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    background-color: rgb(0, 211, 70);
}

.recadre{
    height: 512px;
    width: 512px;
}

.puce{
    
}